#=======================================================================================
# ATTENTION!
# The order of variable domains and ports in the arrays is important!
# Each domain must have its own port
#
# Remember that before executing run.sh, there should already be a DNS record for each domain name
#
# RELEASE_DOMAIN, STAGING_DOMAIN, DEV_DOMAIN
# RELEASE_PORTS, STAGING_PORTS, DEV_PORTS
#=======================================================================================

DOMAINS=(
    "acvod.alignedcode.com"
    "acvod-staging.alignedcode.com"
    "acvod-dev.alignedcode.com"
)

#=======================================================================================
# ATTENTION!
# You can use the following template to define ports
# SERVER PROJECT PORTS 800*
# CLIENT PROJECT PORTS 808*
#=======================================================================================

PORTS=(
    "8082"
    "8081"
    "8080"
)